body {
    font-family: sans-serif;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align:justify
}

@media (prefers-color-scheme: dark) {
    html {
        background-color:#111
    }

    html body {
        color:#d9d9d9
    }

    html blockquote {
        color:#d3c9be
    }

    html blockquote:before {
        color:#b8b8b8
    }

    html a {
        color:#00a2e7
    }

    html a:visited {
        color:#ca1a70
    }
}

a {
    color:#07a
}

a:visited {
    color:#941352
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none
}

span.citneed {
    vertical-align: top;
    font-size: .7em;
    padding-left:.3em
}

small {
    font-size:0.8em
}

p.st {
    margin-top:-1em
}

ul li img {
    height:1em
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom:2em
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top:1rem
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style:oblique
}

blockquote author:before {
    content: "- ";
    margin-right:1em
}

blockquote:before {
    font-family: Times New Roman, Times, Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width:1.2rem
}

blockquote:after {
    content: "";
    display: block;
    clear:both
}

@media screen and (max-width: 500px) {
    body {
        text-align:left
    }

    blockquote span {
        width:80%
    }

    blockquote author {
        padding-top: 1em;
        width: 80%;
        margin-left:15%
    }

    blockquote author:before {
        content: "";
        margin-right:inherit
    }
}

.date {
    font-style: italic;
}

nav {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
}
nav a {
    padding: 6px 12px 6px 12px;
    text-decoration-line: none;
}
nav a:visited {
    color:#00a2e7
}
nav a:hover {
    background-color: #ddd;
}
@media (prefers-color-scheme: dark) {
    nav {
        background-color: #222;
    }
    nav a:hover {
        background-color: #333;
    }
}

aside.single {
    float: right;
    text-align: right;
}
